:host {
    display: block;
    
    width: 70vw; /* Adjust width to viewport width for better responsiveness */
    height: 70vh; /* Height set as you specified */
    margin: auto; /* Centers the component on the page if needed */
    margin-top: 0%;
    margin-bottom: 0%;
    margin-left: 0%;
    margin-right: 0%;
}

canvas {
    width: 100% !important; /* Ensures the canvas fills the host element */
    height: 100% !important; /* Ensures the canvas fills the host element */
}